:root {
  --d-sidebar-highlight-background: #EEF7FC;
  --d-sidebar-highlight-hover-background: #4275E9;
  --d-sidebar-header-icon-color: #4275E9;
}

#main-outlet-wrapper {
  .sidebar-wrapper {
    background-color: #FFFFFF;
    box-shadow: none;
    margin-top: 24px;
    border-top: none;
    border-radius: var(--mint-border-radius);
    height: calc(100vh - var(--header-offset) - 24px);
    top: var(--header-offset);
    .sidebar-container {
      border: none;
    }
  }
}

.sidebar-footer-wrapper {
  background: #FFFFFF;
}