@mixin mint-card-bg {
  background-color: #FFFFFF;
}

:root {
  --mint-border-radius: 6px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #4275E9;
  --mint-color-blue: #EEF7FC;
  --mint-background: #EEF7FC;
}

$color-square-gradient: linear-gradient(5.3deg, #4275E9 3.63%, #49AFDB 95.15%);
$color-square-webkit-gradient: -webkit-linear-gradient(5.3deg, #4275E9 3.63%, #49AFDB 95.15%);