@import "variables";

body {
  background-color: #EEF7FC;
}

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  border-radius: var(--mint-border-radius);
  box-shadow: none;
  padding: 20px 30px;
  background-color: #FFFFFF;
  border-top: none;
  margin-top: 24px;
}

.boxed {
  &.white {
    background-color: #FFFFFF;
  }
}

#main-outlet:after,
#main-outlet:before {
  display: none;
}

// Ensure the homepage (categories page) has the correct background
body.navigation-categories {
  #main-outlet {
    background-color: transparent;
    box-shadow: none;
  }
}

// Ensure topic list pages have a white background
body.navigation-topics {
  #main-outlet {
    background-color: #FFFFFF;
  }
}